<mat-card-header>
    <mat-card-title>LogIn</mat-card-title>
</mat-card-header>

<div class="main-container">
    <form class="form" #f="ngForm" (ngSubmit)="signIn(f)">
        <mat-card-content>

            <mat-form-field class="w-100">
                <input matInput placeholder="Email" type="email" class="form-control" name="email" ngModel required
                    #email="ngModel">
                <mat-icon matSuffix color="primary">alternate_email</mat-icon>
                <mat-hint *ngIf="isThereError">{{ errorMessage}}</mat-hint>
            </mat-form-field>

            <mat-form-field class="w-100">
                <input matInput placeholder="Password" type="password" class="form-control" name="password" ngModel
                    required #password="ngModel">
                <mat-icon matSuffix color="primary">lock</mat-icon>
                <mat-hint></mat-hint>
            </mat-form-field>

            <div class="buttons-container">
                <button type="button" mat-button color="primary" class="has-account-button"
                    (click)="redirectToSignUpPage()">
                    create account
                    <mat-icon>person_add</mat-icon>
                </button>
                <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">
                    Log in
                </button>
            </div>

        </mat-card-content>
    </form>
</div>