.main-container {
  display: grid;
  margin-top: 3.7rem;
  width: 100%;
}

.c-profile {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .cover {
    display: flex;
    margin: 0 5rem;

    mat-card-content {
      display: flex;
      width: 100%;
      margin: 0;

      .cover-image-wrapper {
        width: 100%;
        height: max-content;
        overflow: hidden;
        background-size: cover;

        .cover-image {
          width: 100%;
          height: 25rem;
          transition: 350ms ease;
          cursor: pointer;
        }

        .cover-image:hover {
          transform: scale(1.2);
        }
      }

      .avatar-image-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        top: 50%;
        left: 6%;
        z-index: 10;

        .avatar-image {
          height: 15rem;
          width: 15rem;
          border-radius: 50%;
          border: 5px solid white;
          z-index: 9;
        }

        .avatar-name {
          color: white;
          z-index: 10;
          margin: 0 0 0 1.5rem;
          font-size: 3rem;
        }
      }
    }

    .c-buttons {
      position: absolute;
      right: 40px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 1rem;
      height: 25rem;

      button {
        margin: 1rem;
        background-color: white;
        color: #303f9f;
      }

      button:hover {
        // 1
        color: #dd1b16;
        // 2
        // background-color: #303f9f;
        // color: white;
        // 3
        // background-color: #dd1b16;
        // color: white;
      }
    }
  }

  .profile-body {
    margin: 2rem 3rem;

    .c-cloud > svg {
      width: 100%;
    }
  }
}
