.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #303f9f;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #logout-button {
  height: 40px;
  margin: 0 16px;
  color: white;
  background: linear-gradient(#a6120d, #dd1b16);
}

.toolbar #logout-button:hover {
  opacity: 0.8;
}

.c-buttons {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
}

.c-buttons {
  .access-button {
    color: #303f9f;
    background: white;
    margin: 0 2rem;
  }
}

.profile-button {
  color: #303f9f;
  background: white;
}

.admin-label {
  margin-left: 1rem;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.access-button {
  color: #303f9f;
  background: white;
}
