<mat-card class="card">
    <div class="content-wrapper">
        <img width="500" src="../../../assets/images/forbiden_acess_photo.gif" />
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
    </div>

    <mat-card-actions>
        <button mat-raised-button color="warn" (click)="reportProblem()">Report a problem </button>
        <button mat-raised-button color="primary" (click)="backtohome()">Back To Home </button>
    </mat-card-actions>
</mat-card>