<mat-card-header>
    <mat-card-title>Register</mat-card-title>
</mat-card-header>
<div class="main-container">
    <form class="form" #f="ngForm" (ngSubmit)="signUp(f)">

        <mat-card-content>
            <mat-form-field class="w-100">
                <input matInput placeholder="Username" class="form-control" name="username" ngModel required
                    #username="ngModel">
                <mat-icon matSuffix color="primary">person_pin</mat-icon>
                <mat-hint></mat-hint>
            </mat-form-field>

            <mat-form-field class="w-100">
                <input matInput placeholder="Email" type="email" class="form-control" name="email" ngModel required
                    #email="ngModel">
                <mat-icon matSuffix color="primary">alternate_email</mat-icon>
                <mat-hint></mat-hint>
            </mat-form-field>

            <mat-form-field class="w-100">
                <input matInput placeholder="Password" type="password" class="form-control" name="password" ngModel
                    required #password="ngModel">
                <mat-icon matSuffix color="primary">lock</mat-icon>
                <mat-hint></mat-hint>
            </mat-form-field>

            <mat-form-field class="w-100">
                <input matInput placeholder="Adress" class="form-control" name="adress" ngModel required
                    #adress="ngModel">
                <mat-icon matSuffix color="primary">home</mat-icon>
                <mat-hint></mat-hint>
            </mat-form-field>

            <mat-form-field class="w-100">
                <input matInput placeholder="phone-number" type="number" class="form-control" name="phoneNumber" ngModel
                    required #phoneNumber="ngModel">
                <mat-icon matSuffix color="primary">phone</mat-icon>
                <mat-hint></mat-hint>
            </mat-form-field>

        </mat-card-content>
        <div class="buttons-container">
            <button type="button" mat-button color="primary" class="has-account-button"
                (click)="redirectToSignInPage()">
                Already has account
                <mat-icon>tag_faces</mat-icon>
            </button>

            <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">
                sign up
                <mat-icon>person_add</mat-icon>
            </button>
        </div>
    </form>

</div>