<ng-container *ngIf="isLoading; else renderCover">
    <app-profile-cover-loading></app-profile-cover-loading>
</ng-container>

<ng-template #renderCover>
    <mat-card class="cover">
        <mat-card-content>
            <div class="user">
                <img class="user-image" [src]="configurations.avatarImageUrl">
                <span class="user-name">
                    <h2>{{ 'John Doe' | titlecase }}</h2>
                    <h3>senior web developer </h3>
                </span>
            </div>
            <div class="cover-image-wrapper">
                <img class="cover-image" [src]="configurations.coverImageUrl" />
            </div>
        </mat-card-content>
        <mat-card-actions class="c-buttons">
            <button mat-fab>
                <mat-icon>person</mat-icon>
            </button>
            <button mat-fab>
                <mat-icon>plus_one</mat-icon>
            </button>
            <button mat-fab>
                <mat-icon>filter_list</mat-icon>
            </button>
            <button mat-fab>
                <mat-icon>home</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>