mat-card-content,
mat-card-header,
mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  mat-card-title {
    margin: 0;
    font-size: 1.5rem;
    color: #303f9f;
  }
}

mat-card-actions {
  margin-top: 10px;
}

.c-spinner {
  padding: 8rem;
  .mat-spinner::ng-deep circle {
    stroke: #c62828;
  }
}

.c-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #303f9f;
  p {
    margin: 0;
  }
}
