<div class="main">
    <ng-container *ngIf="citiesCards; else spinner">
        <div class="card-wrapper" *ngFor="let card of citiesCards">
            <mat-card class="card c-wrapper" (click)="takeMeToOffertsOf(card.city)">
                <mat-card-header>
                    <mat-card-title> {{ card.city | titlecase }}</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="card.imgUrl">
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>
        <ng-container *ngIf="adminAddNewCityCard">
            <ng-template appCreateCard [card]="adminAddNewCityCard"></ng-template>
        </ng-container>
    </ng-container>
    <ng-template #spinner>
        <div class="spinner-card-wrapper" *ngFor="let card of [1,2,3]">
            <mat-card class="spinner-card c-wrapper">
                <mat-card-header>
                    <mat-card-title> Loading...</mat-card-title>
                </mat-card-header>
                <mat-spinner [diameter]="50"></mat-spinner>
            </mat-card>
        </div>
    </ng-template>
</div>