<div class="main">
    <ng-container *ngIf="!loading  ; else spinner">
        <ng-container *ngFor="let offert of jobsOfferts">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{offert.companyName}}</mat-card-title>
                    <mat-card-subtitle *ngIf="errorOnLoading">There was an error on loading Jobs offerts
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    {{ offert | json }}
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">Apply </button>
                    <button mat-raised-button color="primary">more detail </button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </ng-container>
    <ng-template #spinner>
        <mat-spinner [diameter]="50"></mat-spinner>
    </ng-template>
</div>