<div class="c-links-and-contents">
    <mat-tab-group mat-align-tabs="end">
        <ng-container *ngIf="(asyncTabs | async)?.length > 1; then showContent; else showSpinner"></ng-container>
        <ng-template #showContent>
            <mat-tab *ngFor="let tab of (asyncTabs | async)">
                <ng-template mat-tab-label>{{tab.label }}</ng-template>
                <mat-card class="profile-body">
                    <div>
                        {{tab.content }}
                    </div>
                </mat-card>
            </mat-tab>
        </ng-template>
        <ng-template #showSpinner>
            <mat-tab>
                <ng-template mat-tab-label></ng-template>
                <mat-card class="profile-body-loading">
                    <div>
                        <app-profile-body-loading></app-profile-body-loading>
                    </div>
                </mat-card>
            </mat-tab>
        </ng-template>
    </mat-tab-group>
</div>