<app-toolbar></app-toolbar>
<div class="content">
    <app-cloud-svg-image></app-cloud-svg-image>

    <div class="wrapper">
        <mat-card class="box">
            <ng-container *ngIf="loading; else forms">
                <div class="spinner-container">
                    <mat-spinner [diameter]="50"></mat-spinner>
                </div>
            </ng-container>
            <ng-template #forms>
                <router-outlet></router-outlet>
            </ng-template>
        </mat-card>
    </div>
</div>